body {
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    padding-right: 10px;

}

h1 {
    font-size: 50px;
}



.orange-color {
    color: orange;
}



.half-width {
    display: flex;
    padding-top: 10px;
}

.half-width .box {
    width: 50%;
    height: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;

}

.image-size {
    height: 80%;
    max-height: 400px;
    width: 90%;
    max-width: 350px;
    float: right;
    margin-top: 10px;
    padding-right: 25px;

}

.image-size1 {
    height: 80%;
    max-height: 400px;
    width: 90%;
    max-width: 350px;
    float: left;
    margin-top: 10px;
    padding-right: 25px;

}

.hire-me {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 7px;
    font-size: 16px;

}

.half-width .box .hire-me:hover {
    background-image: linear-gradient(navy, green);
    color: white;
    font-size: 20px;
    border-radius: 7px;


}